name: Get SHA-1 Fingerprint

on:
  workflow_dispatch:

jobs:
  get-sha1:
    name: Get Signing Key SHA-1
    runs-on: ubuntu-latest

    steps:
      - name: Decode signing key
        run: |
          echo ${{ secrets.SIGNING_KEY }} | base64 -d > signingkey.jks

      - name: Get SHA-1 fingerprint
        run: |
          keytool -list -v -keystore signingkey.jks -alias ${{ secrets.ALIAS }} -storepass ${{ secrets.KEY_STORE_PASSWORD }} | grep SHA1

      - name: Clean up
        if: always()
        run: rm -f signingkey.jks
